@import "./base.css";

.modal-mask {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;

}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 600px;
    margin: 0px auto;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    
    /*background-color: rgb(196, 219, 219);*/
    
}

.modal-header h3 {
    margin-top: 0;
}

.modal-body {
    margin: 20px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height:550px;
    background-color: white;
    padding:20px
}